{% extends 'base_bootstrap.html' %}
{% block navbar %}
<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">{{ settings.APP_NAME }}</a>
    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
    <ul class="nav navbar-nav">

      <!-- Assign output of url function to a variable to use in the if statement -->
      {% url 'simplevocab:all_vocabentries' as vocab_list %}
      <li {% if request.get_full_path == vocab_list %}class="active"{% endif %}>
          <a href="{% url 'simplevocab:all_vocabentries' %}">Vocab List</a></li>
      {% url 'simplevocab:quiz' as quiz %}
      <li {% if request.get_full_path == quiz %}class="active"{% endif %}>
          <a href="{% url 'simplevocab:quiz' %}">Quiz</a></li>
      {% url 'simplevocab:vocabentry_create' as add_word %}
      <li {% if request.get_full_path == add_word %}class="active"{% endif %}>
        <a href="{% url 'simplevocab:vocabentry_create' %}">Add a Word</a></li>
      {% url 'simplevocab:vocab_list_upload' as vocab_list_upload %}
      <li {% if request.get_full_path == vocab_list_upload %}class="active"{% endif %}>
        <a href="{% url 'simplevocab:vocab_list_upload' %}">Upload a Vocab List</a></li>

      <!-- <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Drop Down
          <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'simplevocab:all_vocabentries' %}">Also Home</a></li>
        </ul>
       </li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'logout' %}">Logout</a></li>
      </li>
       {% else %}
       <li>
        <a href="{% url 'login' %}?next={% url 'simplevocab:all_vocabentries' %}">Login</a></li>
      </li>
       {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}