{% extends "base_menu.html" %}
{% load static %}
{% block content %}
    <h3>Who is this for?</h3>    
    <p>Readers! More specifically, readers who want to actually learn the words they look up.</p>
    <p>
        I come across new words often -- reading the news, books, or even doing crossword puzzles -- 
        and find that I often see words that I know I've looked up before months ago, but can't remember what they mean.
        The words that I actually remember tend to be ones that I discover and look up once, and then happen to see again soon after. 
        ("Oh yeah! I just saw that word in the article I read yesterday about monarch butterflies!") 
        This is a tool that aims to replicate that recognition for every word you discover as you read, even if you don't see it that often. 
        
    </p>
    <h3>Adding words</h3>
    <p>
        Using it is simple. When you come across a word you don't know, add it to your list just by following a few quick steps. 
        We'll handle retrieving the definition, synonyms, examples, and etymology.
        You can add just the word, the sentence where you discovered it, 
        and/or a description of the work as a whole (e.g. "An article in the NYT about monarch butterflies").
        Including all three is a uniquely effective method for ultimately learning a word's meaning, and Vocab for Readers makes the process simple.
    </p>
    <p>
        See below for instructions on how to add a word from your phone or computer. If you already have a vocab list, you can upload it <a href="{% url 'simplevocab:vocab_list_upload' %}">here</a>.
    </p>
    <h4>
        iPhone
    </h4>
    <p>
        Download the Vocab for Readers shortcut <a href="https://www.icloud.com/shortcuts/1bf768e427974c738162cef0113cb323" download>here</a>.
    </p>
    <h4>
        Browser
    </h4>
    <p>
        <a href="{% url 'simplevocab:vocabentry_create' %}">Add a new word to your vocab list</a>
    </p>
    <h3>
        Quizzes
    </h3>
    <p>
        Once you've added some words to your list, the next step is to quiz yourself. 
        Each quiz contains 10-15 words, depending on how many you've added recently that you haven't been quizzed on yet.
        For each word in the quiz, think about whether you know what it means. 
        Then, click a button to show the definition, synonyms, etc, and choose "Correct" if you got it right. 
        Only mark it correct if you're confident that you really know it -- you should be able to use it in a sentence, not just have the definition memorized.
        We'll use your quiz results to help decide what to quiz you on next.
    </p>
    <p>
        Soon, you'll be able to sign up for email reminders linking to your next quiz (and at some point, you'll be able to customize the frequency).
    </p>
    <h3>
        View your vocab list
    </h3>
    <p>
        You can see all the words in your vocab list (soon, along with stats showing how well you know them) <a href="{% url 'simplevocab:all_vocabentries' %}">here</a>.
    </p>    
    
    
{% endblock content %}