{% extends "base_menu.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h3>Who is this for?</h3>    
    <p>Readers who want to actually learn the words they look up.</p>
    {% comment %} <p>
        I come across new words often -- reading the news, books, or even doing crossword puzzles -- 
        and am often frustrated to find that I forget what they mean by the time I see them next.
        The words that I actually remember tend to be ones that I discover and look up once, and then happen to see again soon after. 
        ("Oh yeah! I just saw that word in the article I read yesterday about monarch butterflies!") 
        This is a tool that helps to replicate that recognition for every word you discover as you read, even if you don't see it that often. 
        
    </p> {% endcomment %}
    <h3>Adding words</h3>
    <p>
        When you come across a word you don't know, add it to your list by following the steps below. 
        We'll handle retrieving the definition, synonyms, examples, and etymology.</p>
    <p>    
        You'll enter: 
    </p>
    
    <ul>
        <li>The "discovery source," or where you found the word (e.g. "An article in the NYT about monarch butterflies")</li>
        <li>The word</li>
        <li>The sentence in which you found the word (optional, but encouraged to help you learn).
    </ul>  
    <p>
        If you already have a vocab list that you'd like to build off of, you can upload it <a href="{% url 'simplevocab:vocab_list_upload' %}">here</a>.
    </p>
    <p>
        See below for instructions on how to add a word from your computer or phone. 
    </p>
    </br>

    <h4>
        Computer / Android
    </h4>
    <p>In your browser, bookmark the <a href="{% url 'simplevocab:vocabentry_create' %}">Add a Word</a> page for quick access.</p>
    <p>Select and copy the sentence that includes the word you'd like to add. (You can copy just the word if you'd like, but the context can help you learn it.)</p>
    <p>
        Go to the <a href="{% url 'simplevocab:vocabentry_create' %}">Add a Word</a> page and paste the full sentence into the "Discovery Context" field. Type the word in the "Word" field. Enter where you came across the word in the "Discovery Source" field.
    </p>
    <p>
        The word's dictionary entry will be added to your vocab list, along with the context (if you included it) and the discovery source.
    </p>
</br>
    <h4>
        iPhone</br>
    </h4>

    <p>The Vocab for Readers iPhone shortcut makes it even easier to add words to your list. No need to open a tab in a browser -- 
        just copy the sentence and tap the icon on your home screen. </p></br>

    <h5>Setup</h5>
    <ol>
        <li>On your iPhone, download the <a href="https://www.icloud.com/shortcuts/c95ed76fbaec4f889a44cc0e5018aa56" download>Vocab for Readers shortcut</a>.</li>
        <li>Tap "Add Shortcut" on the bottom of your screen. This will open up your Shortcuts app, which comes pre-installed on every iPhone by default. If you've deleted the Shortucts app, you'll be prompted to reinstall it.</li>
        <li>Tap the three-dot menu at the top right of the shortcut you just installed ("Vocab For Readers"). This will open up the shortcut.</li>
        <li>At the bottom of your screen, click the share button (the square with an up arrow).</li>
        <li>Scroll down and tap "Add to Home Screen" and then confirm by tapping "Add" at the top right.</li>
    </ol>
    </br>

    <h5>Adding a Word</h5>

    <p>When adding your first word, make sure to <a href="{% url 'login' %}">login</a> first.  

    <p>If you were <em>not</em> reading on your phone when you came across the word, the Shortcut is still a good way to add it. Follow these steps:<p> 
    <ol>
        <li>Go to your home screen and tap the icon for the VocabForReaders shortcut (it's a white book on a teal background).</li>
        <li>When prompted, enter where you discovered the word</li>
        <li>When prompted, select "Didn't copy anything"</li>
        <li>The first time you submit those responses, you'll see a popup asking if you'd like to allow the shortcut to open your browser. Choose "Always Allow."</li>
        <li>This will open up your web browser to the <a href="{% url 'simplevocab:vocabentry_create' %}">Add a Word</a> page, with your discovery source filled in. 
            Enter the word and the word in context, and submit the form.
        </li>
    </ol>
    
    <p>If you were reading on your phone when you came across the word:</p>
    <ol>
        <li>Select and copy the sentence that includes the word you'd like to add. (You can copy just the word if you'd like, but the context will help you learn it.)</li>
        <li>Go to your home screen and tap the icon for the VocabForReaders shortcut (it's a white book on a teal background).</li>
        <li>When prompted, enter where you discovered the word</li>
        <li>When prompted, choose "Copied just the word" if you only copied the word; choose "Copied the word in context" if you copied the whole sentence.</li>
        <li>When prompted, enter the word.</li>
        <li>The first time you submit those responses, you'll see a popup asking if you'd like to allow the shortcut to open your browser. Choose "Always Allow."</li>
        <li>This will open up your web browser to the <a href="{% url 'simplevocab:vocabentry_create' %}">Add a Word</a> page, with the form pre-filled. 
            Submit the form and you're good to go.
        </li>
    </ol>

    <p>    
        If you go through those steps and find that you're not already logged in, you'll be taken to a login page first (you can login with Google or Github). 
        Once you're logged in, repeat the steps above. 
    </p>
    </br>

    <h3>
        Quizzes
    </h3>
    <p>
        Once you've added some words to your list, the next step is to quiz yourself. 
        Each quiz contains up to 15 words, depending on how many are in your list and how many you've added recently.
    </p>
    <p>
        For each word in the quiz, think about whether you know what it means. 
        Then, click the button to show the definition, synonyms, etc, and choose "Correct" if you got it right. Either way, take a moment to study the word.
        Only mark it correct if you're confident that you really know it -- you should be able to use it in a sentence, not just have the definition memorized.
    </p>
    <p>
        We'll use your quiz results to help decide what to quiz you on next.
    </p>
    <p>
        Soon, you'll be able to sign up for email reminders linking to your next quiz (and at some point, you'll be able to customize the frequency).
    </p>
</br>
    <h3>
        View your vocab list
    </h3>
    <p>
        Your <a href="{% url 'simplevocab:all_vocabentries' %}">vocab list</a> shows all the words you've added along with stats showing how well you know them.
    </p>
    <p>
        While we try to retrieve synonyms, examples, and etymology for every word you add, sometimes it's not possible. 
        You might also want to slightly edit the data we retrieve (e.g. adding another synonym to the ones we found). 
        To update the vocab entry, click the "Update" button next to the word and follow the instructions on the page.
    </p>
</br>
</div>
    
{% endblock content %}