{% extends "base_menu.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'simplevocab/style.css' %}">
<div class="container">
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% for vocab_entry_dict in vocabentries_to_quiz %}
            {% if vocab_entry_dict.field_name == field.name %}
            <h4>{{vocab_entry_dict.vocab_entry.word}}</h4>
            <div id="{{vocab_entry_dict.vocab_entry.word}}" style="display: none">
                <p><strong>Definition:</strong> {{vocab_entry_dict.definition|linebreaks}}</br>
                <strong>Synonyms:</strong> {{vocab_entry_dict.synonyms|linebreaks}}</br>
                <strong>Examples:</strong> {{vocab_entry_dict.examples|linebreaks}}</br>
                <strong>Etymology:</strong> {{vocab_entry_dict.etymology|linebreaks}}</br>
                <strong>Discovery Source:</strong> {{vocab_entry_dict.discovery_source|linebreaks}}</br>
                <strong>Discovery Context:</strong> {{vocab_entry_dict.discovery_context|linebreaks}}</p>
            </div>
            <script type="text/javascript" 
                    src="{% static 'simplevocab/display_word_data.js' %}">
            </script><!-- remember to update STATIC_ROOT when deploying: https://docs.djangoproject.com/en/4.2/howto/static-files/ -->
            <a id="a-{{vocab_entry_dict.vocab_entry.word}}" href="javascript:void(0)" onclick="displayWordData('{{vocab_entry_dict.vocab_entry.word}}'); return false;">Show Word Details</a>
            {{ form.errors }}
            {{ field }}
            <br/>
            <br/>
            {% endif %}
        {% endfor %}
        
    {% endfor %}
    <input type="submit" value="Submit Quiz">
    <input type="submit" onclick="window.location='{% url 'simplevocab:all_vocabentries' %}' ; return false;" value="Cancel">
</form>
</div>
{% endblock %}
