{% extends "base_menu.html" %}
{% block content %}
  <h1>Vocab List</h1>
  {% if vocabentry_list %}
  <p><a href="{% url 'simplevocab:vocabentry_create' %}">Add a new word</a></p>
  <ul>
    {% for vocabentry in vocabentry_list %}
      <li>
          {{ vocabentry.word.word }}
          (<a href="{% url 'simplevocab:vocabentry_update' vocabentry.id %}">Update</a> |
          <a href="{% url 'simplevocab:vocabentry_delete' vocabentry.id %}">Delete</a>) <br/>
          Definition: {% if vocabentry.definition_override == "" or not vocabentry.definition_override %} 
            {{ vocabentry.word.definition }}
          {% else %}
            {{ vocabentry.definition_override }}
          {% endif %}<br/>
          Synonyms: {% if vocabentry.synonyms_override == "" or not vocabentry.synonyms_override %} 
          {{ vocabentry.word.synonyms }}
        {% else %}
          {{ vocabentry.synonyms_override }}
        {% endif %}<br/>
          Examples: {% if vocabentry.examples_override == "" or not vocabentry.examples_override %} 
          {{ vocabentry.word.examples }}
        {% else %}
          {{ vocabentry.examples_override }}
        {% endif %}<br/>
          Etymology: {% if vocabentry.etymology_override == "" or not vocabentry.etymology_override %} 
          {{ vocabentry.word.etymology }}
        {% else %}
          {{ vocabentry.etymology_override }}
        {% endif %}<br/>
          Discovery Source: {{ vocabentry.discovery_source }}<br/>
          In Last Quiz: {{ vocabentry.last_quiz }}<br/>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no vocab entries for this user.</p>
  {% endif %}

{% endblock %}