{% extends "base_menu.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'simplevocab/style.css' %}">
<div class="container">
<h3>{{vocabentry.word.word}}</h3>

<a href="{% url 'simplevocab:vocabentry_update' vocabentry.id %}">Update Word Data</a><br/><br/>

<strong>Discovery Source:</strong> {{vocabentry.discovery_source|linebreaks}}<br/><br/>
<strong>Discovery Context:</strong> {{vocabentry.discovery_context|linebreaks}}<br/><br/>

{% if vocabentry.definition_override == None or vocabentry.definition_override == ""%}
  <strong>Definition:</strong> {{vocabentry.word.definition|linebreaks}}<br/><br/>
{% else %}
  <strong>Definition:</strong> {{vocabentry.definition_override|linebreaks}}<br/><br/>
{% endif %}

{% if vocabentry.synonyms_override == None  or vocabentry.synonyms_override == ""%}
    <strong>Synonyms:</strong> {{vocabentry.word.synonyms|linebreaks}} <br/><br/>
{% else %}
<strong>Synonyms:</strong> {{vocabentry.synonyms_override|linebreaks}}<br/><br/>
{% endif %}

{% if vocabentry.examples_override == None or vocabentry.examples_override == ""%}
  <strong>Examples:</strong> {{vocabentry.word.examples|linebreaks}} <br/><br/>
{% else %}
  <strong>Examples:</strong> {{vocabentry.examples_override|linebreaks}}<br/><br/>
{% endif %}

{% if vocabentry.etymology_override == None or vocabentry.etymology_override == ""%}
  <strong>Etymology:</strong> {{vocabentry.word.etymology|linebreaks}} <br/><br/>
{% else %}
  <strong>Etymology:</strong> {{vocabentry.etymology_override|linebreaks}}<br/><br/>
{% endif %}
</div>
{% endblock %}

