{% extends "base_menu.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'simplevocab/style.css' %}">
<div class="container">
<h3>{{object.word.word}}</h3> <br/>
To override this word's definition, synonyms, examples, or etymology in your vocab list, enter your own data below and submit.
Any field left blank will use our default word data, shown below the form. You can also update the word's Discovery Source and Discovery Context if you'd like.<br/>
<br/>
{% load crispy_forms_tags %}
<form action="" method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <input type="submit" value="Submit">
  <input type="submit" onclick="window.location='{% url 'simplevocab:vocabentry_detail' vocabentry.id %}' ; return false;" value="Cancel">
</form>
<br/>
<h4>Default Word Data:</h4>
<strong>Definition:</strong> {{object.word.definition|linebreaks}} <br/><br/>
<strong>Synonyms:</strong> {{object.word.synonyms|linebreaks}} <br/><br/>
<strong>Examples:</strong> {{object.word.examples|linebreaks}} <br/><br/>
<strong>Etymology:</strong> {{object.word.etymology|linebreaks}}<br/><br/>
</div>
{% endblock %}