{% extends "base_menu.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'simplevocab/style.css' %}">
<div class="container">
<h3>{{vocabentry.word.word}}</h3>

<a href="{% url 'simplevocab:vocabentry_update' vocabentry.id %}">Update Word Data</a><br/><br/>

Discovery Source: {{vocabentry.discovery_source}}<br/><br/>
Discovery Context: {{vocabentry.discovery_context}}<br/><br/>

{% if vocabentry.definition_override == None or vocabentry.definition_override == ""%}
  Definition: {{vocabentry.word.definition}}<br/><br/>
{% else %}
  Definition: {{vocabentry.definition_override}}<br/><br/>
{% endif %}

{% if vocabentry.synonyms_override == None  or vocabentry.synonyms_override == ""%}
  Synonyms: {{vocabentry.word.synonyms}} <br/><br/>
{% else %}
Synonyms: {{vocabentry.synonyms_override}}<br/><br/>
{% endif %}

{% if vocabentry.examples_override == None or vocabentry.examples_override == ""%}
  Examples: {{vocabentry.word.examples}} <br/><br/>
{% else %}
  Examples: {{vocabentry.examples_override}}<br/><br/>
{% endif %}

{% if vocabentry.etymology_override == None or vocabentry.etymology_override == ""%}
  Etymology: {{vocabentry.word.etymology}} <br/><br/>
{% else %}
  Etymology: {{vocabentry.etymology_override}}<br/><br/>
{% endif %}
</div>
{% endblock %}

